nav(role="navigation").navbar.text-right
  ul.navbar-list
    each item in nav.items
      if nav.active == item.id
        li.navbar-list-item.active
          a(href="#{item.href}", title="#{item.title}") #{item.content}
      else
        li.navbar-list-item
          a(href="#{item.href}", title="#{item.title}") #{item.content}